h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
}

@media(max-width: 600px) {
    .brandname {
        font-size: 20px !important;
    }
}

/* hidden menus */

.hidden-menus  {
    display: none
}

@media(max-width: 767px) {
    .hidden-menus  {
        display: block;
    }

    .sidebar {
        display: none;
    }
}

/* active */

.active {
    color:#313DAA;
}

/* bladeform */

.bladeform {
    /* background: url('http://127.0.0.1:8000/assets/images/backgrounds/desktop-wallpaper-inventory-management-system-backgrounds.jpg'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bladeform .container {
    width: 30%;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.75);
}

.bladeform .container h2,
.bladeform .container h4 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.bladeform .container h4 {
    font-size: 20px;
}

.navbar a h1 {
    color: #313DAA;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* welcome login */

.welcome-login {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.welcome-login form {
    border: #EFEFEF 1px  solid;
    padding: 20px;
}

/* sidebr */

.sidebar {
    height: 100vh;
    background-color: #FFFFFF;
}

.sidebar ul li {
    margin: 20px 0 20px 0;
}

/* product dropdown items display none */
.sidebar .product-dropdown-items,
.sidebar .customers-dropdown-items,
.sidebar .staffs-dropdown-items {
    display: block;
}

/* main */

.main {
    background-color: #EFEFEF;
}

.main-box {
    border-radius: 10px;
    background: #FFF;
    padding: 30px;
}

.main .page-title-h1 {
    padding: 20px 0 20px 0;
}

.main .main-box .table-heading{
    margin-bottom: 30px;
}

.main .main-box .buttons {
    text-align: right;
}

.main .main-box .new-btn {
    background-color: #313DAA;
    color: #ffffff;
}

.main table img {
    width: 50px;
    height: 50px;
}

/* modals */

.modal-body .form-group {
    text-align: left;
}

.modal-body .form-group {
    margin-bottom: 20px;
}

/* endmodals */